### Power of dictionary when doing searches

In [38]:
import random
random.random()

0.3354373892382887

In [62]:
employees = []
employees_d = {}

for i in range(5):
    employee = []
    employee.append(str(i))
    employee.append("name-" + str(i))
    employee.append(str(int(10000 * random.random())))
    
    # populate the list
    employees.append(employee)
    
    # populate the dictionary
    employees_d[i] = employee

In [63]:
employees

[['0', 'name-0', '6134'],
 ['1', 'name-1', '8412'],
 ['2', 'name-2', '1960'],
 ['3', 'name-3', '7127'],
 ['4', 'name-4', '5176']]

In [46]:
employees_d

{0: [0, 'name-0', 3245],
 1: [1, 'name-1', 1776],
 2: [2, 'name-2', 1820],
 3: [3, 'name-3', 3453],
 4: [4, 'name-4', 9231]}

In [32]:
emp_id = int(input("Enter an employee id:"))

Enter an employee id:999999

In [33]:
## look for the employee id in the list

import time

startTime = time.time()

for employee in employees:
    
    if employee[0] == emp_id:
        print("Found employee:",employee)
        break
        
elapsedTime = time.time() - startTime

print("Time taken:",elapsedTime)

Found employee: [999999, 'name-999999']
Time taken: 0.0908348560333252

In [34]:
## look for the employee id in a dictionary

import time

startTime = time.time()


employees_d[emp_id]

elapsedTime = time.time() - startTime
print("Time taken:",elapsedTime)

Time taken: 9.012222290039062e-05

In [35]:
0.0908348560333252/9.012222290039062e-05

1007.9074074074074

## Files

In [47]:
employees

[[0, 'name-0', 3245],
 [1, 'name-1', 1776],
 [2, 'name-2', 1820],
 [3, 'name-3', 3453],
 [4, 'name-4', 9231]]

In [48]:
!pwd

/Users/sddorair/Personal/SJCC/cis24c/cis024c_springi_2021/classwork-spi2021

### Write to file

In [70]:
f = open("employees.txt","w")

for employee in employees:
    f.write(",".join(employee) + "\n")
    
f.close()

### Read from file

In [74]:
f = open("employees.txt","r")

f

In [75]:
f.readlines()

['0,name-0,6134\n',
 '1,name-1,8412\n',
 '2,name-2,1960\n',
 '3,name-3,7127\n',
 '4,name-4,5176\n']

In [77]:
f.seek(0)

0

In [78]:
f.readlines()

['0,name-0,6134\n',
 '1,name-1,8412\n',
 '2,name-2,1960\n',
 '3,name-3,7127\n',
 '4,name-4,5176\n']

In [79]:
f.seek(0)

0

In [80]:
f.read()

'0,name-0,6134\n1,name-1,8412\n2,name-2,1960\n3,name-3,7127\n4,name-4,5176\n'

### Append to file

In [81]:
f = open("employees.txt","a")

In [82]:
f.write("1000,Sally,89898")

16

In [83]:
f.close()

### Reading from the file

In [118]:
f = open("employees.txt","r")
f

#### Method 1

In [120]:
for line in f:
    print(line)

#### Method 2

In [121]:
f.seek(0)

0

In [122]:
f.readlines()

['0,name-0,6134\n',
 '1,name-1,8412\n',
 '2,name-2,1960\n',
 '3,name-3,7127\n',
 '4,name-4,5176\n',
 '1000,Sally,89898']

#### Method 3

In [127]:
f.seek(0)

0

In [134]:
f.readline()

''

## Functions

In [85]:
import time

startTime = time.time()

print(startTime)

1610423652.300467

In [87]:
?time.time

In [88]:
def add(n1,n2):
    
    result = n1 + n2
    
    return result

In [89]:
add(2,3)

5

In [101]:
def calculate(n1,n2,hello = "+"):
    
    if hello == '+':
        result = n1 + n2
    elif hello ==  "-":
        result = n1 - n2
    elif hello == "*":
        result = n1 * n2
    elif hello == "/":
        result = n1 / n2  
    else:
        result = "Unknown Operator"
        
    return result

In [102]:
calculate(2,3,"+")

5

In [103]:
calculate(2,3,"-")

-1

In [104]:
calculate(2,9)

11

### Function to update salary

In [111]:
def updateSalary(employee, tax_rate):
    
    salary = int(employee[2])
    new_salary = salary - salary * tax_rate
    
    return new_salary

In [113]:
updateSalary([0, 'name-0', 3245],0.2)

2596.0

In [114]:
employees

[['0', 'name-0', '6134'],
 ['1', 'name-1', '8412'],
 ['2', 'name-2', '1960'],
 ['3', 'name-3', '7127'],
 ['4', 'name-4', '5176']]

In [117]:
for employee in employees:
    
    print("New Salary for %s is %d" % ( employee[0], updateSalary(employee, 0.3)))

New Salary for 0 is 4293
New Salary for 1 is 5888
New Salary for 2 is 1372
New Salary for 3 is 4988
New Salary for 4 is 3623